
.container {
  display: flex;
  width: 90vw;
  margin: auto;
}

.panel {
  position: relative;
  margin: 10px;
  flex: 1;
  height: 80vh;
  color: #fff;
  border-radius: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: flex 0.7s ease-in;
}

.panelActive {
  flex: 10;
}

.panel h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.4s;
}

.panelActive h3 {
  opacity: 1;
}
